

.spreadsheetCell {
    cursor: default;
}

.hover .spreadsheetCell:hover {
    background-color: var( --blue-100 );
}

.hover:focus .spreadsheetCell,
.hover:focus-visible .spreadsheetCell {
    box-shadow: inset 0 0 0 2px var(--blue-300);
}

.hover:focus,
.hover:focus-visible {
    outline: none;
}

.multiSelected.hover .spreadsheetCell:hover {
    background-color: var(--blue-200);
}

